//
//  Config.xcconfig
//  DDLCModTemplate
//
//  Создан Маркизом Куртом 9 июня 2019 г.
//  Авторское право 2019-2022 Азариэль Дель Кармен (GanstaKingofSA). Все права защищены.
//

// Справку по форматированию файла параметров конфигурации можно найти на сайте:
// https://help.apple.com/xcode/#/dev745c5c974

// Измените строку ниже так, чтобы она указывала на директорию вашей установленной копии Ren'Py!
RENPY_TOOL=/какая-то/директория/renpy/renpy.sh

BUILD_ACTION=$(SRCROOT)/game lint
RUN_ACTION=$(SRCROOT)/game
